# Virtual environments
venv/
.env/
.envrc/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

